@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');
 
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: white;
   font-family: 'Roboto', sans-serif;
}
.logo_login {
   margin-top: -90px;
   text-align: center;
}
.logo_login img{
   width: 200px;
}
.wrapper{
   width: 420px;
   border: none;
   outline: none;
   border: 2px solid rgb(163, 160, 160);
   border-radius: 10px;
   color: black;
   background: white;
   padding:  20px 45px 20px 20px;
}
.wrapper h1{
   font-size: 25px;
   text-align: center;
   color: black;
   font-weight: 500;
}
.wrapper .input-box{
width: 100%;
height: 50px;
background: white;
margin: 30px 0;
}
.input-box input{
   width: 100%;
   height: 100%;
   background: none;
   border: none;
   outline: none;
   border: 2px solid rgba(0, 0, 0);
   border-radius: 5px;
   color: black;
   padding:  20px 45px 20px 20px;
}
.input-box input::placeholder{
   color: black;
}
.input-box i{
   position: absolute;
   left: 0;
   top: 0;
   width: 60px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   font-size: 1.6em;
}
.wrapper p {
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   font-size: 15px;
   color: black;
}
.wrapper .error-message {
   text-align: center; 
   margin-bottom: 20px;
   }
.wrapper .error {
   color: red;
   text-align: center;
   }
.login-link .btn{
   width: 100%;
   height: 40px;
   background: rgb(12, 112, 9);
   border: none;
   outline: none;
   border-radius: 40px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   font-size: 15px;
   padding: center;
   color: white;
   font-weight: 500;
}
.Google-link .btn2{
   width: 100%;
   height: 40px;
   background: rgb(24, 29, 163);
   border: none;
   outline: none;
   border-radius: 40px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   font-size: 15px;
   color: white;
   font-weight: 500;
   padding: center;
}
.register-link {
   font-size: 14px;
   text-align: center;
   margin-top: 20px;
}
.register-link .Sign_Up{
   margin-top: 20px;
   width: 55%;
   height: 35px;
   background: white;
   border: rgb(32, 181, 3);
   outline: rgb(32, 181, 3);
   border-radius: 100px;
   box-shadow: 0 0 10px rgb(32, 181, 3);
   cursor: pointer;
   font-size: 15px;
   color: rgb(32, 181, 3);
   font-weight: 600;
   padding: center;
}
.register-link p{
   margin-top: 50px;
   text-align: center;
   font-size: 15px;
   color: black;
}
#footer{
   position: absolute;
   height: 2.5rem;
   background-color: rgb(1, 50, 5);
   color: white;
   width: 100%;
   bottom: 0px;
}
#footer h2{
   position: absolute;
   left: 41%;
}
#designer{
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 500;
   margin: 0px 5px;
}